#banner{
    opacity: 0.85;
}

#banner h2 {
    font-weight: 900;
}

.link {
    text-decoration: none !important;
}

#wrapper_skinny {
	width: 50% !important;
	margin: 0 auto;
}

#banner {
  background-image: url('https://image.freepik.com/free-photo/tasty-appetizing-italian-mediterranean-food-ingredients-flat-lay-on-dark-old-black-background-top-view-copy-space-above_1220-1747.jpg');
  background-size: 100%;
  color: white;
  
}

.navbar {
  background-color: #e81212 !important;
}

.navbar a {
      color: white !important;
}